build/
dist/
dross/
api/*.db
node_modules/
*.log
secrets.json
vendor/
tests/*.pdf
tests/venv
# For this app, we're going to rely on semver for controlling versions
# of third-party packages, because specifying exact versions fails on
# the GoDaddy shared hosting environment, so the lock files have to be
# deleted anyway.
composer.lock
package-lock.json
maintenance-mode
prod.url
